#intro-page {
    /*background-image: url('/assets/img/penguin/intro_distances.jpg');
    background-size: 100% 100%; */
    width:100%;
    height:100%;
    margin:100px;
}
.welcome_flag{
    height:32px;
    margin-right:32px;
}

.welcome h3{
    font-size:32px;
    font-weight: bold;
    color:white;
    vertical-align: middle;
    cursor:pointer;
    padding: 14px;
    margin:0px;
    -moz-border-radius:3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

}

.welcome:hover h3{
    color:#add8e6;
    background-color: rgba(0,0,0,0.7);
}

.welcome i {
    font-size: 16px;
    vertical-align: middle;
    display: none;
    margin-left:32px;
    text-align: right;

}

#intro-content-cell{
    background:none;
}

#intro-bottom-panel{

    margin-bottom: -11px;
}
/*
button next
*/
.intro-navigate-button-area a:last-child {
    position: absolute;
    right :5px;
    font-weight: bold;
}

#lang_table {
    position: relative;
    padding:4px;
    top: 140px;
    left: 190px;
    width:400px;
    height:240px;
    background-color: #dbf2ea;
    opacity: 0.95;
    overflow-y: hidden;
    overflow-x: hidden;
    -moz-border-radius: 4px;
    -webkit-border-radius:4px;
    border-radius: 4px;
    border-width: 3px;
    border-style: solid;
    /*border-color: #207cca;*/ /* Old browsers */
    border-color:#313031;
}

.jorney-line {
    font-size:20px;
}

.jorney-line td:last-child {
    width: 50%;
    text-align: right;

}

.jorney-line:hover {
    cursor:pointer;
}

.jorney-line img {
    width: 30px;
}


.intro-page h2 {
    margin:8px;
    font-size: 22px;
    font-weight: bolder;
}

#intro_globe{
    width:400px;
    height: 400px;
}

#intro_1 {
    background-image: url('/assets/img/penguin/intro_globe.jpg');
    background-size: 100%;
}

#intro_2 {

}

#intro_page_4 {
    background-image: url('/assets/img/penguin/intro_place_info.jpg');
    background-size : 100% 100%;
}




#intro_1_penguin {
    position: absolute;
    right:50px;
    width: 240px;
}

.intro_place_text, #intro_text ,#intro_2_head, #intro_2_test , #intro_experience_info_1, #intro_experience_info_2, #intro_experience_info_3{
    padding:16px;
    background-color: black;
    opacity: 0.85;
    position: absolute;
    left:15px;
    top: 240px;
    width: 340px;

    color:white;
}

.intro_place_text {
    top:100px;
    left:15px;
    width: 290px;
}


#intro_text {
    left:200px;
    top: 20px;
    width: 380px;
}

.intro_place_info {
    width: 36px;
    height: 27px;
    position: absolute;
    top:247px;
    left:370px;
    overflow: hidden;
    background-size: 100% 100%;
    display:none;
}

#intro_place_info_2 {
    background-image: url('/assets/img/penguin/intro_place_info_2.jpg');
}

#intro_place_info_3 {
    background-image: url('/assets/img/penguin/intro_place_info_3.jpg');
}

#intro_place_info_4 {
    background-image: url('/assets/img/penguin/intro_place_info_4.jpg');
}

#intro_place_info_5 {
    background-image: url('/assets/img/penguin/intro_place_info_5.jpg');
}

#intro_place_info_6 {
    background-image: url('/assets/img/penguin/intro_place_info_6.jpg');
}

#intro_distances_place {
    position: absolute;
    top:115px;
    left:269px;
    width: 300px;
    height: 295px;
    background-image: url('/assets/img/penguin/intro_distances_place.jpg');
}

#intro_experience_info_1 {
    top: 370px;
}

#intro_experience_info_2 {
    top: 85px;
}

#intro_experience_info_3 {
    top: 400px;
    left:1000px;
}



.intro_resource_icon{
    width: 30px;
    height: 30px;
    margin-right: 5px;

}

#page-indicator {
    margin: 5px 0px 0px 0px;
    color:#dbf2ea;
    font-weight: bold;
}

#move-table {
    width: 100%;

}

#move-table td:first-child {
    width: 20%;
    text-align: left;
}

#move-table td:last-child {
    width: 20%;
    text-align: right;
}
