#body {


    background-size: 100%, 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;

}

#cover {
    position: absolute;
    top:140px;
    left:0px;
    width: 100%;
    height: 680px;
    background: rgba(50, 50, 70, 0.5);
    display: none;

}

#cover-background {
    margin:0px;
    padding:0px;
    width: 100%;
    height: 100%;
    background-size: 100%, 100%;
    background-image: url('/assets/img/orig/place/1401694785767-184379-bhmmug.jpg');
}

#place-controll {
    position: absolute;
    top:94px;
    left:0px;
    width: 275px;
    height:250px;

    /*border-style:solid;*/
    /*border-color: #207cca;*/ /* Old browsers */
    border-color:#313031;
    background-repeat: no-repeat;
    background-image: url('/assets/img/penguin/panel-image.png');
}

#place-controll h2 {
    width: 100%;
    color:white;
    margin:7px;
    padding:0px;
    margin-left:12px;
    font-weight: bold;
}

#place-controll-img {
    margin: 3px 0px 0px 8px;
    width:258px;
    height:189px;

}

#place-controll-line {
    position: absolute;
    top:140px;
    left:0px;
    width: 100%;
    height:39px;
    background-repeat: repeat-x;
    background-image: url('/assets/img/penguin/panel-top.png');
    padding-left:275px;
    padding-top: 3px;
    margin-top: 0px;
}



#main-view1 {
    margin-top: 10px;
    height:600px;
    position: relative;
    top:-650px;

    background-size: 120%, 100%;
    padding:0px;

    -moz-border-radius: 2px;
    -webkit-border-radius:2px;
    border-radius: 2px;
    border-width: 2px;
    border-style: solid;
    /*border-color: #207cca;*/ /* Old browsers */
    border-color:#313031;

    background: rgba(250, 250, 255, 0.9);
}

.column-center {
    width:800px;
    margin-left: auto;
    margin-right:auto;
}

#h1{
    text-align: center;
    color:white;
    background: #284049; /* Old browsers */
    background: -moz-linear-gradient(top,  #284049 0%, #2989d8 100%, #207cca 100%, #005987 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#284049), color-stop(100%,#2989d8), color-stop(100%,#207cca), color-stop(100%,#005987)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #284049 0%,#2989d8 100%,#207cca 100%,#005987 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #284049 0%,#2989d8 100%,#207cca 100%,#005987 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #284049 0%,#2989d8 100%,#207cca 100%,#005987 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #284049 0%,#2989d8 100%,#207cca 100%,#005987 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#284049', endColorstr='#005987',GradientType=0 ); /* IE6-9 */
    padding: 20px;
    margin:0px 0px 0px 0px;
    font-weight: bold;
}

#h1 h1 {
    margin:0px;
    padding:0px;
    font-weight: bold;
    font-size: 68px;
}

.translate-block {
    width:300px;
    margin-left:auto;
    margin-right:auto;
}
.translate_flag {
    width:25px;
    margin-left:2px;
    margin-right: 22px;
}
.translation {
    font-size: 22px;
    color:darkblue;
    margin-left:3px;
    margin-right: 1px;
}

.translation:hover {
    cursor:pointer;
    color:black;
}

.translate-selected {
    color:lightblue;
    font-weight: bold;
}

.lang-pointer-space {
    margin-left: 4px;
}

#langs {
    margin-bottom: 60px;

}

.lang-name {
    margin-right: 1px;
}

.lang-pointer {
    height:8px;
}

.lang-pointer-left {
    -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
    -moz-transform: rotate(180deg);        /* FF */
    -o-transform: rotate(180deg);          /* Opera */
    -ms-transform: rotate(180deg);         /* IE9 */
    transform: rotate(180deg);             /* W3C complaint browsers */

    /* IE8 and below */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');
}

#like {
    margin-bottom: 25px;
}

.panel-dark {
    margin: 0px 0px 0px 0px;
    background-color: #313031;
    text-align: center;
    padding:3px;
}





.exchange_exp_icon{
    width: 60px;
    height: 60px;

}

#modal-exchange-exp {
    font-size:large;
}

#modal-exchange-buttons-add-sub{
    width:175px;
    padding:30px 63px 70px 63px;
    background-image: url('/assets/img/penguin/exchange-fork.gif');
    background-size: 100%;

}
#modal-exchange-buttons-add-sub button {
    font-weight: bold;
}


.center {
    margin-left: auto;
    margin-right: auto;
}

.like-xs {
    margin-left:4px;
    width: 16px;
    height: 16px;
    float:right;
}

.like-text-xs{
   font-weight: bold;
}

.loaidng {

    width:300px;
    margin-left: auto;
    margin-right: auto;
    margin-top:200px;
    /* because the loader is white */
    background-color: white;
    padding:3px;

}
.loaidng-border {
    border-style: solid;
    border-color: darkgrey;
    border-width: 1px;
    padding:40px;
}


.loaidng img {
    float:left;
    margin-right: 10px;

}
.loaidng-span {

    font-weight: bolder;
    color:darkblue;
}

.loaidng-i {
    margin-top:0px;
    font-size : 10px;
}

.loaidng-content {



}
.voc4u-screen, .voc4u-screen:visited {
    position: absolute;
    right:20px;
    top:30px;
    width:210px;
    float:right;
    font-weight: bolder;
    font-size:15px;
    text-align: right;
    color:white;
}

.voc4u-screen:hover {
    color:lightcyan;
    text-decoration: none;
}

.voc4u-screen p {
    margin:0px;
}

.voc4u-screen  img{
    float:left;
    height: 75px;
    margin:-10px;
}






.bottom-panel {
    position: absolute;
    bottom: 60px;
    width: 100%;
    height: 60px;
    padding:8px;
    background-color: #313031;
    opacity: 0.95;
}

.top-panel {
    width: 100%;

    padding:8px;
    background-color: #313031;
    opacity: 0.95;
    bottom:0px;
}

.top-panel h2, .top-panel h4, .bottom-panel h2 {
    text-align: center;
    color:#dbf2ea;
    margin:0px;
    font-weight: bold;
}

.top-panel h4 {
    margin:5px 0px 0px 0px;
}

.content-cell{
    position: relative;
    height:100%;

}

.content-body {
    margin:15px;
}

.btn-place {
    width:150px;
    margin-right:12px;
    font-size: 12px;
    padding:1px;
}

.info-words {
    text-align: center;
    float:left;
    padding: 2px 2px 2px 2px;
    margin:2px 0px 2px 0px;
}

.info-words-translatable {
    cursor: pointer;
    padding: 2px 8px 2px 8px;
    margin:2px 2px 2px 2px;
}

.info-words-translatable:hover {
    background-color: black;
    color:#ffff00;
    margin:0px 0px 0px 0px;
    border: 2px solid;
    border-radius: 5px;
}


#introduction {
    height:350px;
    overflow-y: auto;
    overflow-x: hidden;

}

.textshadow {
    postion:relative;
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.8);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin-top:-70px;
}

.locked-text-info {
    postion:relative;
    margin:40px 100px 10px 100px;
    padding:10px;
    background-color: black;
    color:white;
    opacity:0.7;
}

#info-resources{
    float:left;
    margin:4px;
    font-weight: bold;
}

#info-top-panel {
    width: 100%;

}

#info-center-panel {
    margin: 0 auto;
}

#info-sentences {
    height: 100px;
}

.intro-content {
    padding: 15px;
}

