#body {
    background-image: url('/assets/img/orig/place/1401694785767-184379-bhmmug.jpg');

    background-size: 100%, 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;

}

.main-view {

    height:600px;


    background-color: #eafbff;
    opacity: 0.9;
    padding:0px;

    -moz-border-radius: 8px;
    -webkit-border-radius:8px;
    border-radius: 8px;
    border-width: 10px;
    border-style: solid;
    /*border-color: #207cca;*/ /* Old browsers */
    border-color:#313031;


}

.column-center {
    width:800px;
    margin-left: auto;
    margin-right:auto;
}

#h1{
    text-align: center;
    color:white;
    background: #284049; /* Old browsers */
    background: -moz-linear-gradient(top,  #284049 0%, #2989d8 100%, #207cca 100%, #005987 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#284049), color-stop(100%,#2989d8), color-stop(100%,#207cca), color-stop(100%,#005987)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #284049 0%,#2989d8 100%,#207cca 100%,#005987 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #284049 0%,#2989d8 100%,#207cca 100%,#005987 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #284049 0%,#2989d8 100%,#207cca 100%,#005987 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #284049 0%,#2989d8 100%,#207cca 100%,#005987 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#284049', endColorstr='#005987',GradientType=0 ); /* IE6-9 */
    padding: 20px;
    margin:0px 0px 0px 0px;
    font-weight: bold;
}

#h1 h1 {
    margin:0px;
    padding:0px;
    font-weight: bold;
    font-size: 68px;
}


.translate_flag {
    width:15px;
    margin-left:2px;
    margin-right: 2px;
}
.translation {
    font-size: 12px;
    color:white;
    margin-left:3px;
    margin-right: 1px;
}

.translation:hover {
    cursor:pointer;
    color:lightblue;
}

.translate-selected {
    color:lightblue;
    font-weight: bold;
}

.lang-pointer-space {
    margin-left: 4px;
}

#langs {
    margin-bottom: 60px;

}

.lang-name {
    margin-right: 1px;
}

.lang-pointer {
    height:8px;
}

.lang-pointer-left {
    -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
    -moz-transform: rotate(180deg);        /* FF */
    -o-transform: rotate(180deg);          /* Opera */
    -ms-transform: rotate(180deg);         /* IE9 */
    transform: rotate(180deg);             /* W3C complaint browsers */

    /* IE8 and below */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');
}

#like {
    margin-top: 140px;
    margin-bottom: 25px;
}

.panel-dark {
    margin: 0px 0px 0px 0px;
    background-color: #313031;
    text-align: center;
    padding:3px;
}





.exchange_exp_icon{
    width: 60px;
    height: 60px;

}

#modal-exchange-exp {
    font-size:large;
}

#modal-exchange-buttons-add-sub{
    width:175px;
    padding:30px 63px 70px 63px;
    background-image: url('/assets/img/penguin/exchange-fork.gif');
    background-size: 100%;

}
#modal-exchange-buttons-add-sub button {
    font-weight: bold;
}


.center {
    margin-left: auto;
    margin-right: auto;
}

.like-xs {
    margin-left:4px;
    width: 16px;
    height: 16px;
    float:right;
}

.like-text-xs{
   font-weight: bold;
}

.loaidng {

    width:300px;
    margin-left: auto;
    margin-right: auto;
    margin-top:200px;
    /* because the loader is white */
    background-color: white;
    padding:3px;

}
.loaidng-border {
    border-style: solid;
    border-color: darkgrey;
    border-width: 1px;
    padding:40px;
}


.loaidng img {
    float:left;
    margin-right: 10px;

}
.loaidng-span {

    font-weight: bolder;
    color:darkblue;
}

.loaidng-i {
    margin-top:0px;
    font-size : 10px;
}

.loaidng-content {



}
.voc4u-screen, .voc4u-screen:visited {
    position: absolute;
    right:20px;
    top:30px;
    width:210px;
    float:right;
    font-weight: bolder;
    font-size:15px;
    text-align: right;
    color:white;
}

.voc4u-screen:hover {
    color:lightcyan;
    text-decoration: none;
}

.voc4u-screen p {
    margin:0px;
}

.voc4u-screen  img{
    float:left;
    height: 75px;
    margin:-10px;
}






.bottom-panel {
    position: absolute;
    bottom: 60px;
    width: 100%;
    height: 60px;
    padding:8px;
    background-color: #313031;
    opacity: 0.95;
}

.top-panel {
    width: 100%;

    padding:8px;
    background-color: #313031;
    opacity: 0.95;
    bottom:0px;
}

.top-panel h2, .top-panel h4, .bottom-panel h2 {
    text-align: center;
    color:#dbf2ea;
    margin:0px;
    font-weight: bold;
}

.top-panel h4 {
    margin:5px 0px 0px 0px;
}

.content-cell{
    position: relative;
    height:100%;

}

.content-body {
    margin:15px;
}