body {
    background-image: url('/assets/img/orig/place/1400385212810-24811-isedqn.jpg');
    background-size: 100%, 100%;
}

.main-view {
    width:800px;
    height:600px;
    margin-left: auto;
    margin-right:auto;
    background-color: #ddd;
    opacity: 0.9;
    padding:0px;

    -moz-border-radius: 26px;
    -webkit-border-radius:26px;
    border-radius: 26px;
    border-width: 30px;
    border-style: solid;
    border-color: #207cca; /* Old browsers */


}

.translate_flag {
    width:25px;
    margin-left:5px;
    margin-right:5px;
}

.translation:hover {
    cursor:pointer;
}

#lang_table {
   padding:4px;
   background-color: white;
   height:420px;
   overflow-y: auto;
}

.intro-navigate-button-area {
    position: absolute;
    bottom: 60px;
    width: 100%;
    height: 60px;
    padding:15px;
}

.intro-page {
    position: relative;
    height: 600px;
    overflow: hidden;
}

#intro_globe{
    width:400px;
    height: 400px;
}

#intro_1 {
    background-image: url('/assets/img/penguin/intro_globe.png');
    background-size: 100%;
}

#intro_2 {
    background-image: url('/assets/img/penguin/intro_distances.png');
    background-size: 100%;
}

#intro_2_head {
    position: absolute;
    right : 20px;
    color: white;
}

#intro_1_penguin {
    position: absolute;
    right:50px;
    width: 240px;
}

#intro_1_test ,#intro_2_test{
    padding:4px;
    position: absolute;
    left:20px;
    top: 240px;
    width: 340px;
    background-color: black;
    opacity: 0.6;
    color:white;
}

#intro_2_test {
    color:black;
    background-color: whitesmoke;
    opacity: 0.9;
}

.intro_resource_icon{
    width: 30px;
    height: 30px;

}