.train{
    position: relative;
    height:100%;

}


table {
    width:100%;
    margin-top:10px;
}


.bottom-panel {
    position: absolute;
    bottom: 60px;
    width: 100%;
    height: 60px;
    padding:8px;
    background-color: #313031;
    opacity: 0.95;
}

.bottom-panel button {
    font-weight: bold;
}

.main-view {

    background-color: white;
}

.last-list {
    height:420px;
    overflow-y: scroll;
}

.score-penguin, .score-penguin-small{
    width: 35px;
    float:left;
    margin-left:-12px;
}

.score-penguin-small {
    width:20px;
    margin-left:-8px;
}