#conection-canvas {
    width:1000px;
    height:1000px;
    margin-bottom: -1000px;
    background-color: #e0f2be;
}

.btn-word {
    width:150px;
    margin:5px;
}

#introduction {
    height:600px;
}