#conection-canvas {
    width:1000px;
    height:1000px;
    margin-bottom: -1000px;
    background-color: #e0f2be;
}

.btn-word {
    width:150px;
    margin:5px;
}

#vt_content{
    width:700px;
    margin-left: auto;
    margin-right:auto;
    background-color: #ddd;
    opacity: 0.9;
    padding:40px;
}

#vt_background{
    width: 100%;
    background-size: 100%;
    height: 700px;
    padding:40px;
}