.wordtest {
    padding:10px;

}


#conection-canvas {
    width:1000px;
    height:1000px;
    margin-bottom: -1000px;
    background-color: #e0f2be;
}

.btn-word {
    width:270px;
    margin:5px;
}

#introduction {
    height:300px;
    overflow-y: auto;
    overflow-x: hidden;

}

#btn_explore {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

td {
    font-size:12px;
    color:#101010;
}

td:first-child{
    width:5%;
}

td:last-child{
    width:5%;
    text-align: right;
}

td i {
    font-size:9px;
}

td b {
    font-size:26px;
    color:darkblue;
}

/*tr:first-child{
    border-bottom-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}*/
.separe-table {
    margin: 4px;
    border-bottom-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

table {
    width:100%;
    padding:10px;

}

#word-test {
    /* top, right, bottom, left */
    margin:50px 10px 0px 10px;
    width: 100%;
}

.wordtest-score {
    position: relative;
    height:100%;
}

.table-wordtest-score {
    padding-left : 10px;
    padding-right: 10px;
}

.bottom-panel {
    bottom: 0px;
}
.wordtest-score h2 {
}

#total_gold span {
    margin-right:7px;
}

#total_gold img {
    height: 35px;
}

#total_gold {
    margin:10px;
    padding: 8px;
    font-size: 24px;
    font-weight: bold;
}

#result_total_gold {
    margin-top : 30px;
}

#wordtest-timer img{
    height: 32px;
    margin-top:-10px;
}

#wordtest-timer span{
    margin-left: 8px;
    margin-bottom:0px;
    font-size:28px;
    font-weight: bold;
    color:#dbf2ea;
}

#place-score-answer {
    margin-top:10px;
}

