!!!
//https://www.google.co.nz/search?q=mamka&source=lnms&tbm=isch

html(ng-app="voc4u")
    head
        link(rel='stylesheet', href='/assets/css/app.css')
        link(rel='stylesheet', href='/assets/css/index.css')
        link(rel='stylesheet', href='/assets/css/word-row.css')
        link(rel='stylesheet', href='/assets/css/bootstrap.min.css', rel="stylesheet",media="screen")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
    body(ng-controller="MainCtrl as main")
        div#body
            h1 welcome in admin mode
            a(href="/dictionary/") dictionary
            br

            a(href="/admin/translates/") translates
            br
            a(href="/admin/levels/") levels
            span -
            a(href="/admin/levels/#/places") places


    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="/assets/js/bootstrap.min.js")
    script(src="http://code.angularjs.org/1.2.1/angular.min.js")
    script(src="http://code.angularjs.org/1.2.1/angular-animate.min.js")
    script(src="http://code.angularjs.org/1.2.1/angular-route.min.js")
    script(src="http://code.angularjs.org/1.2.1/angular-cookies.min.js")
    script(src="/assets/js/moment.min.js")
    script(src="/assets/js/imageddc.js")
    script(src="/assets/js/lscache.js")
    script(src="/assets/js/app.js")
    script(src="/assets/js/services.js")
    script(src="/assets/js/controler.js")
    script(src="/assets/js/stats.js")
    script(src="/assets/js/directives.js")


    //script(src="assets/js/angular-file-upload.min.js")
