!!!

html(ng-app)
    body
        h1 hello
        div(ng-controller="WordWebCtrl")
            div#ahoj
            div(ng-repeat="post in posts")
                div {{post}}
            p how are you
                span= title
                ?

    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js")
    script(src="assets/controler.js")