!!!

html(ng-app)
    link(rel='stylesheet', href='/assets/css/index.css')
    body
        h1 hello
        div(ng-controller="WordWebCtrl")
            div#ahoj
            div(ng-repeat="word in words")
                div.row
                    div.wordcontainer
                        div
                            span.word {{word.w1}}
                            span.wordspaner -
                            span.word {{word.w2}}
                        div.desc {{word.description}}
                    img(src="{{word.image}}")



    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js")
    script(src="assets/js/controler.js")