!!!
//https://www.google.co.nz/search?q=mamka&source=lnms&tbm=isch

html(ng-app="words")
    head
        link(rel='stylesheet', href='/assets/css/index.css')
        link(rel='stylesheet', href='/assets/css/bootstrap.min.css', rel="stylesheet",media="screen")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
    body#ahoj
        h1 hello
        div(ng-controller="WordWebCtrl")
            div(ng-repeat="word in words")
                div.row
                    div.wordcontainer

                        div
                            span {{word.link}},
                            span.word {{word.w1}}
                            span.wordspaner2 -
                            span.word {{word.w2}}
                        div
                            input(id="ed_{{word.l1}}_{{word.link}}",value="{{word.w1}}",on-enter="myFunc('{{word.l1}}',{{word.link}})")
                            input(value="{{word.w2}}")

                        div.desc {{word.description}}
                    img(src="{{word.image}}")




    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="assets/js/bootstrap.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js")
    script(src="assets/js/controler.js")
