!!!
//https://www.google.co.nz/search?q=mamka&source=lnms&tbm=isch

html(ng-app="words")
    head
        link(rel='stylesheet', href='/assets/css/index.css')
        link(rel='stylesheet', href='/assets/css/bootstrap.min.css', rel="stylesheet",media="screen")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
    body(ng-controller="WordWebCtrl")#ahoj

        header
            a(ng-click="langChange(0,'en')") en
            div.btn-group
                button(type="button",data-toggle="dropdown").btn.btn-default.dropdown-toggle {{lesson[0]}}
                    span.caret
                ul(role="menu").dropdown-menu
                    li(ng-repeat="lesson in lessons")
                        a(ng-click="langChange(0,lesson)") {{lesson}}

            div.btn-group
                button(type="button",data-toggle="dropdown").btn.btn-default.dropdown-toggle {{lesson[1]}}
                    span.caret
                ul(role="menu").dropdown-menu
                    li(ng-repeat="lang in languages")
                        a(ng-click="langChange(1,lang)") {{lang}}

            div.btn-group
                button(type="button",data-toggle="dropdown").btn.btn-default.dropdown-toggle {{lesson[2]}}
                    span.caret
                ul(role="menu").dropdown-menu
                    li(ng-repeat="lang in languages")
                        a(ng-click="langChange(2,lang)") {{lang}}
        div.shadow

        h1 {{location}}
        div.wordwebctrl
            div(ng-repeat="word in words")
                div.wordrow
                    div.identifer
                        span(id="in_{{word.link}}").label.label-primary {{word.link}}
                    div.wordcontainer
                        div.row
                            span(id="tv_{{word.l1}}_{{word.link}}").col-md-6.word {{word.o1}}
                            span(id="tv_{{word.l2}}_{{word.link}}").col-md-6.word {{word.o2}}

                        div.row
                           div.col-md-6
                                input(id="ed_{{word.l1}}_{{word.link}}",value="{{word.w1}}",on-enter="updateWord(word.l1,word.link)",ng-change="checkWord(word.l1,word.link)",ng-model="word.w1", ng-focus="focusWord(word.l1,word.link)")
                                span(id="in_{{word.l1}}_{{word.link}}",ng-click="updateWord(word.l1,word.link)").label.label-danger.hide save!
                           div.col-md-6
                                input(id="ed_{{word.l2}}_{{word.link}}",value="{{word.w2}}",on-enter="updateWord(word.l2,word.link)",ng-change="checkWord(word.l2,word.link)",ng-model="word.w2", ng-focus="focusWord(word.l2,word.link)")
                                span(id="in_{{word.l2}}_{{word.link}}",ng-click="updateWord(word.l2,word.link)").label.label-danger.hide save!

                        div
                            span.label.label-default {{word.description}}

                    img(src="{{word.image}}").imgpreview
        div#helpers
            span.btn.btn-xs.btn-default close x
            div
                iframe(src="http://slovnik.seznam.cz/cz-fr/word/?q=chleba").helpers_i#slovnik_seznam_cz



    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="assets/js/bootstrap.min.js")
    script(src="http://code.angularjs.org/1.2.0-rc.3/angular.min.js")
    script(src="assets/js/controler.js")
