!!!
//https://www.google.co.nz/search?q=mamka&source=lnms&tbm=isch

html(ng-app="voc4u")
    head
        link(rel='stylesheet', href='/assets/css/levels/main.css')
        link(rel='stylesheet', href='/assets/css/bootstrap.min.css', rel="stylesheet",media="screen")

        link(rel='stylesheet', href='/assets/css/libs/alertify.core-0.3.11.css')
        link(rel='stylesheet', href='/assets/css/libs/alertify.default-0.3.11.css')

        meta(name="viewport",content="width=device-width, initial-scale=1.0")
    body(ng-controller="MainCtrl as main")
        div#body
            h1 welcome in levels
            div(ng-view)




    script(src="/assets/js/libs/jquery.min-2.1.0.js")
    script(src="/assets/js/bootstrap.min.js")
    script(src="/assets/js/libs/angular.min-1.2.16.js")
    script(src="http://code.angularjs.org/1.2.1/angular-animate.min.js")
    script(src="http://code.angularjs.org/1.2.1/angular-route.min.js")
    script(src="http://code.angularjs.org/1.2.1/angular-cookies.min.js")
    script(src="/assets/js/moment.min.js")
    script(src="/assets/js/libs/alertify.min-0.3.11.js")

    script
        var ROUTE = '/admin/translates/';

    script(src="/assets/js/simple-request.js")
    script(src="/assets/js/levels/levels-app.js")


    //script(src="assets/js/angular-file-upload.min.js")
