!!!
//https://www.google.co.nz/search?q=mamka&source=lnms&tbm=isch

html(ng-app="pinguin")
    head
        link(rel='stylesheet', href='/assets/css/penguin/main.css')
        link(rel='stylesheet', href='/assets/css/bootstrap.min.css', rel="stylesheet",media="screen")

        link(rel='stylesheet', href='/assets/css/libs/alertify.core-0.3.11.css')
        link(rel='stylesheet', href='/assets/css/libs/alertify.default-0.3.11.css')
        link(rel='stylesheet', href='/assets/css/libs/bootstrap-progressbar-3.0.0.min.css')

        link(rel='stylesheet', href='/assets/css/levels/world.css')
        link(rel='stylesheet', href='/assets/css/libs/jqvmap.css')



        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        meta(name="keywords",content="Learning,vocabulary,czech,english,german,spain,france,portugal,poland")
        meta(name="description",content="Online game for learning vocabulary")
        meta(name="author",content="Milan Medlik")
        title happy-penguing - travel and learn vocabulary
    body(ng-controller="PenguinCtrl as main")
        a(href="http://www.voc4u.com",target="_blank",ng-click="voc4ulink()").voc4u-screen
            img(src="/assets/img/penguin/voc4u.png", alt="Voc4u best android vocabulary trainer")
            p vocabulary
            p and technology
            p stoled from Voc4u
        div
            #h1
                -if(debugPenguin)
                    h1 debug (hp)
                -else
                    h1 * Happy penguin *
                i.text-center www.happy-penguin.eu

            div#body
                div.panel-dark#thin-line

                    //span(ng-repeat="lang in langs",ng-click="changeLang(lang.lang)").translation
                        span(ng-hide="lang.lang==currentLang").lang-pointer-space
                        img(src="/assets/img/penguin/lang_arrow.gif",ng-show="lang.lang==currentLang").lang-pointer.lang-pointer-left
                        img(src="/assets/img/flags/flag_{{lang.lang}}.png").translate_flag
                        span(ng-class="{'translate-selected':lang.lang==currentLang}").lang-name {{lang.name}}
                        span(ng-hide="lang.lang==currentLang").lang-pointer-space
                        img(src="/assets/img/penguin/lang_arrow.gif",ng-show="lang.lang==currentLang").lang-pointer



                // style is in this way because on
                // chrome browser is not size fit before map is initialized
                // and map have realy low height
                div(style="width:100%;height:680px;background-color:blue;")#world-main

                div#like.panel-dark
                    button(ng-click="like()").btn.btn-xs.btn-primary
                        img(src="/assets/img/penguin/facebook_like_icon_thumb.gif").like-xs
                        span.like-text-xs like me


            div#place-controll-line
                a(href="#/info",translate="menu-info").btn.btn-xs.btn-default.btn-place Curriosity
                a(href="#/wordstest").btn.btn-xs.btn-default.btn-place
                    span.badge.badge-important.menu-badge {{testCount}}
                    span(translate="menu-test") Test



                a(href="#/sentences").btn.btn-default.btn-xs.btn-place
                    span.badge.badge-important.menu-badge {{sentencesCount}}
                    span(translate="menu-sentences") Sentences

                a(translate="menu-crosswords").btn.btn-default.btn-xs.btn-place Crosswords

                a(translate="menu-quiz").btn.btn-default.btn-xs.btn-place Quiz
                a(href="#/train",translate="menu-train").btn.btn-default.btn-xs.btn-place Memorizing
            div()#place-controll
                //div(ng-show="wordsLoading").loaidng
                    div.loaidng-border
                        img(src="/assets/img/loading64.gif")
                        div(translate="please_wait").loaidng-span Loading please wait ...
                        div(translate="loading_could_be_long").loaidng-i first load could be long
                h2 {{place.name}}
                img(src="/assets/img/orig/place/1401694785767-184379-bhmmug.jpg")#place-controll-img
            div#cover
                div#cover-background
                div(ng-view)#main-view1.column-center

            div
                span()#game_resources
                    span#game_resources_golds {{coins}}
                    img(src="/assets/img/penguin/ic_golds.png").resource_gold_icon
            // it is here because in main-view is disabled
            // shadow screen cover the dialog as well
            div(data-backdrop="static",data-keyboard="false" )#modal-exchange.modal.fade
                div.modal-dialog
                    div.modal-content
                        div.modal-header
                            h3(translate="language-head")#warning_dialog_title Language
                        div.modal-body
                            div.translate-block


                        div.modal-footer
                            span(translate="select-language-you-speak") Select your language you are speaking...

            div.hide
                div#place_popover
                    div.hide
                        span#place_popover_walk
                        span x
                        img(src="/assets/img/penguin/ic_walk.png").resource_icon

                        span#place_popover_swim
                        span x
                        img(src="/assets/img/penguin/ic_swim.png").resource_icon


                        span#place_popover_fly
                        span x
                        img(src="/assets/img/penguin/ic_fly.png").resource_icon

                    img(src="http://localhost:8080/assets/img/orig/place/1401694828623-184379-1ji8lc7.jpg",width="240px")#place_popover_image

                    div.text-center
                        span(translate="btn_place_visit")#btn_place_visit.btn.btn-success


    div#fb-root



    div.column-center
        div(data-href="http://happy-penguin.eu",data-numposts="5",data-colorscheme="dark").fb-comments


    div.column-center.text-center
        span Milan Medlik (c) 2014 (
        a(href="mailto:milan.medlik@gmail.com?Subject=happy-penguin") milan..medlik@gmail.com
        span )


    script(src="/assets/js/libs/jquery.min-2.1.0.js")
    script(src="/assets/js/libs/jquery.nicescroll.min.js")
    script(src="/assets/js/libs/alertify.min-0.3.11.js")
    script(src="/assets/js/libs/move.min.js")
    script(src="/assets/js/bootstrap.min.js")
    script(src="/assets/js/libs/angular.min-1.2.16.js")
    script(src="/assets/js/libs/angular-translate.min.js")
    script(src="/assets/js/libs/angular-translate-loader-static-files.min.js")

    script(src="/assets/js/libs/angular-route.min-1.2.16.js")
    script(src="/assets/js/libs/ngDraggable.js")
    script(src="/assets/js/moment.min.js")

    script
        var ROUTE = '/pinguin/game/';
    -if(debugPenguin)
        script
            var DEBUG_PENGUIN = true;
    -else
        script
            var DEBUG_PENGUIN = false;

    script(src="/assets/js/libs/jquery-jvectormap.js")
    script(src="/assets/js/libs/jquery-mousewheel.js")
    script(src="/assets/js/libs/jquery-jvectormap-world-mill-en.js")

    script(src="/assets/js/simple-request.js")
    script(src="/assets/js/penguin/world-factory.js")
    script(src="/assets/js/penguin/vocabulary-factory.js")
    script(src="/assets/js/penguin/penguin-factory.js")
    script(src="/assets/js/penguin/place-factory.js")
    script(src="/assets/js/penguin/word-test.js")
    script(src="/assets/js/penguin/info-ctrl.js")
    script(src="/assets/js/penguin/sentences-ctrl.js")
    script(src="/assets/js/penguin/place-ctrl.js")
    script(src="/assets/js/levels/links-factory.js")
    script(src="/assets/js/penguin/penguin-app.js")


    script(src="/assets/js/libs/bootstrap-progressbar.min.js")
    script(src="/assets/js/libs/angular-local-storage.js")


    //script(src="assets/js/angular-file-upload.min.js")
