!!!
//https://www.google.co.nz/search?q=mamka&source=lnms&tbm=isch

html(ng-app="pinguin")
    head
        link(rel='stylesheet', href='/assets/css/penguin/main.css')
        link(rel='stylesheet', href='/assets/css/bootstrap.min.css', rel="stylesheet",media="screen")

        link(rel='stylesheet', href='/assets/css/libs/alertify.core-0.3.11.css')
        link(rel='stylesheet', href='/assets/css/libs/alertify.default-0.3.11.css')

        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        meta(name="keywords",content="Learning,vocabulary,czech,english,german,spain,france,portugal,poland")
        meta(name="description",content="Online game for learning vocabulary")
        meta(name="author",content="Milan Medlik")
        title happy-penguing - travel and learn vocabulary
    body(ng-controller="PinguinCtrl as main")
        a(href="http://www.voc4u.com",target="_blank",ng-click="voc4ulink()").voc4u-screen
            img(src="/assets/img/penguin/voc4u.png", alt="Voc4u best android vocabulary trainer")
            p vocabulary
            p and technology
            p stoled from Voc4u
        div
            #h1
                -if(debugPenguin)
                    h1 debug (hp)
                -else
                    h1 * Happy penguin *
                i.text-center www.happy-penguin.eu

            div#body
                div#langs.panel-dark
                    span(ng-repeat="lang in langs",ng-click="changeLang(lang.lang)").translation
                        span(ng-hide="lang.lang==currentLang").lang-pointer-space
                        img(src="/assets/img/penguin/lang_arrow.gif",ng-show="lang.lang==currentLang").lang-pointer.lang-pointer-left
                        img(src="/assets/img/flags/flag_{{lang.lang}}.png").translate_flag
                        span.lang-name {{lang.lang}}
                        span(ng-hide="lang.lang==currentLang").lang-pointer-space
                        img(src="/assets/img/penguin/lang_arrow.gif",ng-show="lang.lang==currentLang").lang-pointer


                div(ng-view).column-center.main-view

                div#like.panel-dark
                    button(ng-click="like()").btn.btn-xs.btn-primary
                        img(src="/assets/img/penguin/facebook_like_icon_thumb.gif").like-xs
                        span.like-text-xs like me
            // it is here because in main-view is disabled
            // shadow screen cover the dialog as well
            div#modal-exchange.modal.fade
                div.modal-dialog
                    div.modal-content
                        div.modal-header
                            a(data-dismiss="modal").close &times;
                            h3#warning_dialog_title Exchange
                        div.modal-body
                            div(style="width:120px").center
                                input(ng-model="expMax",size="3",readonly="true",hidden="true")#modal-exchange-exp-max
                                input(ng-model="exp",size="3",readonly="true")#modal-exchange-exp
                                img(src="/assets/img/penguin/ic_exp.png").exchange_exp_icon
                            div#modal-exchange-buttons-add-sub.center
                                button(ng-click="expToTravelers(true)").hide.btn.btn-success + 3
                                button(ng-click="expToTravelers(false)").btn.btn-danger - 3
                            div(style="width:210px").center
                                img(src="/assets/img/penguin/ic_walk.png").resource_icon
                                input(ng-model="walk",size="3",readonly="true")#modal-exchange_resources_walk
                                img(src="/assets/img/penguin/ic_swim.png").resource_icon
                                input(ng-model="swim",size="3",readonly="true")#modal-exchange_resources_swim
                                img(src="/assets/img/penguin/ic_fly.png").resource_icon
                                input(ng-model="fly",size="3",readonly="true")#modal-exchange_resources_fly

                        div.modal-footer
                            button(data-dismiss="modal")#modal-exchange-button.btn.btn-success Exchange
                            button(data-dismiss="modal").btn.btn-primary Close



    div#fb-root



    div.column-center
        div(data-href="http://happy-penguin.eu",data-numposts="5",data-colorscheme="dark").fb-comments


    div.column-center.text-center
        span Milan Medlik (c) 2014 (
        a(href="mailto:milan.medlik@gmail.com?Subject=happy-penguin") milan.medlik@gmail.com
        span )

    script(src="/assets/js/libs/jquery.min-2.1.0.js")
    script(src="/assets/js/libs/alertify.min-0.3.11.js")
    script(src="/assets/js/bootstrap.min.js")
    script(src="/assets/js/libs/angular.min-1.2.16.js")
    script(src="/assets/js/libs/angular-translate.min.js")
    script(src="/assets/js/libs/angular-translate-loader-static-files.min.js")

    script(src="http://code.angularjs.org/1.2.1/angular-route.min.js")

    script(src="/assets/js/moment.min.js")

    script
        var ROUTE = '/pinguin/game/';
    -if(debugPenguin)
        script
            var DEBUG_PENGUIN = true;
    -else
        script
            var DEBUG_PENGUIN = false;

    script(src="/assets/js/simple-request.js")
    script(src="/assets/js/penguin/world-factory.js")
    script(src="/assets/js/penguin/vocabulary-factory.js")
    script(src="/assets/js/penguin/penguin-factory.js")
    script(src="/assets/js/penguin/penguin-app.js")


    script(src="/assets/js/libs/angular-local-storage.js")
    //script(src="assets/js/angular-file-upload.min.js")
