!!!
//https://www.google.co.nz/search?q=mamka&source=lnms&tbm=isch

html(ng-app="voc4u")
    head
        link(rel='stylesheet', href='/assets/css/translates.css')
        link(rel='stylesheet', href='/assets/css/bootstrap.min.css', rel="stylesheet",media="screen")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
    body(ng-controller="MainCtrl as main")
        div#body
            h1 welcome in transalte mode
            div(ng-controller="AddLangCtrl")
                h2 add lang
                form(name="addlangform")
                    input(ng-model="lang_code", placeholder="code", type="text" ng-minlength="2" maxlength="2")
                    input(ng-model="lang_eng_name", placeholder="translate name in eng", type="text", ng-minlength="3")
                    div(ng-click="addlang(addlangform.$valid)").btn.btn-primary.margin-left-10 add
                h2 langs
                table.table
                    thead
                        td #
                        td code
                        td translate
                        td name
                    tr(ng-repeat="lang in langs")
                        td {{$index+1}}
                        td {{lang.lang}}
                        td {{lang.translate}}
                        td {{lang.name}}



    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="/assets/js/bootstrap.min.js")
    script(src="http://code.angularjs.org/1.2.1/angular.min.js")
    script(src="http://code.angularjs.org/1.2.1/angular-animate.min.js")
    script(src="http://code.angularjs.org/1.2.1/angular-route.min.js")
    script(src="http://code.angularjs.org/1.2.1/angular-cookies.min.js")
    script(src="/assets/js/moment.min.js")
    script(src="/assets/js/translates/translates-app.js")


    //script(src="assets/js/angular-file-upload.min.js")
