div(ng-show="loading")#loading
    span loading please wait...

div(ng-hide="loading")
    div(ng-repeat="user in users")
        hr
        span.label-info.badge {{user.id}}

        span {{user.full_name}} ( {{user.name}} ) last login: {{user.last_login}}
        span.separate | edit:
        span
            a(href="#/stats/{{user.id}}") {{user.last_edit}}
            span.label-warning.badge {{user.num_words}}
        span.separate | images:
        span
            a(href="#/approveimages/{{lang1}}/{{lang2}}/{{user.id}}") {{user.last_image}}
            span.label-warning.badge {{user.num_images}}
        span.separate | question:
        span
            a(href="#/questions/{{lang1}}/{{lang2}}/{{user.id}}") {{user.last_question}}
            span.label-warning.badge {{user.num_question}}

    div(ng-repeat="user in noActiveUser")
        hr
        span.label-info.badge {{user.id}}
        span {{user.full_name}} ( {{user.name}} )