div(ng-show="loading")#loading
    span loading please wait...

div(ng-hide="loading")
    div#modal-add-word.modal.fade
        div.modal-dialog
            div.modal-content
                div.modal-header
                    a.close &times;
                    h3#warning_dialog_title Add word
                div.modal-body
                    div.row
                        div.col-md-4
                            img#add_word_icon1
                        div.col-md-4
                            img#add_word_icon2
                        div.col-md-4 description:


                    div.row
                        div.col-md-4
                            input#add_word_input1(ng-model="new_word_w1")
                        div.col-md-4
                            input#add_word_input2(ng-model="new_word_w2")
                        div.col-md-4
                            input#add_word_input_desc(ng-model="new_word_d")

                div.modal-footer
                    a#yesbutton.btn.btn-danger Save
                    a(href="javascript:$('#modal-add-word').modal('hide')").btn.btn-primary Close
    div#modal-question.modal.fade
        div.modal-dialog
            div.modal-content
                div.modal-header
                    a.close &times;
                    h3#warning_dialog_title Question
                div.modal-body
                    div.row
                        div.col-md-4 question:
                            div.row
                        div.col-md-4
                            input#question_input1(value="I dont understand word meaning...",ng-model="new_question")
                    div.modal-footer
                        a(ng-show="new_question")#yesbutton.btn.btn-primary Sent To Milan
                        a(href="javascript:$('#modal-question').modal('hide')").btn.btn-default Close

    div num-words: {{undeleteWords}} images: {{imagesWords}}
    div(ng-repeat="word in words")
        div(my-word word="word",ng-class="{linkdelete: word.del > 0}")
        div(ng-show="word.questions")
            div(ng-repeat="question in word.questions")
                i {{question.changed}}
                span {{question.message}}


    div(ng-show="showBtnAdd",ng-click="showAddWord()").btn.btn-success add word