link(rel='stylesheet', href='/assets/css/levels/world.css')
div(ng-show="wordsLoading").loaidng
    div.loaidng-border
        img(src="/assets/img/loading64.gif")
        div(translate="please_wait").loaidng-span Loading please wait ...
        div(translate="loading_could_be_long").loaidng-i first load could be long
div(ng-hide="wordsLoading").top-panel
    div#info-top-panel
        div#info-center-panel
            div(ng-show="leftWords>0")
                h2(translate="info-words-to-unlock",translate-values="{left:leftWords}")
                div.text-center#unlocking-info(translate="info-translate-words-to-unlock-tests",translate-values="{count:unlockCount}")
            div(ng-hide="leftWords>0")
                h2(translate="info-words-unlocked")

div.content-cell

    div(ng-hide="wordsLoading").intro-content
        div#introduction
            div(ng-repeat="block in blocks")
                div(ng-repeat="word in block",ng-class="{'info-words-translatable':word.possible}",ng-click="clickTranslate(word)").info-words
                    div {{word.simple}}
                    div
                        div(ng-show="word.possible && word.possible[0].word")
                            i(ng-show="word.translated") {{word.possible[0].word}}
                            div(ng-show="!word.translated")
                                div.gold_resource
                                    span.info-price {{price}}
                                    img(src="/assets/img/penguin/ic_golds.png").resource_gold_icon_small
                                //b(translate="translate_please")
                        i(ng-show="!word.possible || !word.possible[0].word") &nbsp
                div.clearfix
                hr

            div(ng-repeat="secretblock in secret")
                div(translate="locket_for_next_visit").locked-text-info.text-center
                div.textshadow {{secretblock}}
                hr
            div(ng-show="place.source").text-center
                a(href="{{place.source}}",target="_blank") {{place.source}}

        div#info-sentences.alert-info

            div(ng-show="sentences")
                div(ng-repeat="sentence in sentences").container
                    div.row
                        div.col-md-6 {{sentence.s}}
                        div.col-md-6 {{sentence.s2}}
        div#select-your-learn-lang-field
            div
                div#lang-selector
                    div(ng-repeat="lang in travelLangs").travel-lang
                        h3
                            img(src="/assets/img/flags/flag_{{lang.lang}}.png").travel_flag
                            span {{lang.name}}
                            i experimental!
                div#lang-selector-info
                    img(src="/assets/img/penguin/penguin_3.png").info-penguin-info

                    i(translate="experimental-info")
    div.bottom-panel

        div.text-center
            a(ng-click="btnBack()",translate="btn-back").btn.btn-primary