


div(ng-show="page==1").intro-page
    div.intro-navigate-button-area
        a(href="#/intro/{{pageNext}}").btn.btn-default next {{pageNext}}

div(ng-show="page==2").intro-page
    div.intro-navigate-button-area
        a(href="#/intro/{{pagePrev}}").btn.btn-default prev {{pagePrev}}
        a(href="#/intro/{{pageNext}}").btn.btn-default next {{pageNext}}

div(ng-show="page==3").intro-page
    div.intro-navigate-button-area
        a(href="#/intro/{{pagePrev}}").btn.btn-default prev {{pagePrev}}
        a(href="#/intro/{{pageNext}}").btn.btn-default next {{pageNext}}

div(ng-show="page==4").intro-page
    h2(translate="choice_your_jorney") choice_your_jorney
    div#lang_table
        table.table.table-hover
           tr(ng-repeat="lang in langs",ng-click="startGame(lang.lang)")
                td
                    img(src="/assets/img/flags/flag_{{lang.lang}}.png")
                td
                    div {{lang.translate}}
                td
                    div {{lang.cities}}
                td
                    div {{lang.questions}}
    div.intro-navigate-button-area
        a(href="#/intro/{{pagePrev}}",translate="button_prev").btn.btn-default {{pagePrev}}
