link(rel='stylesheet', href='/assets/css/penguin/intro.css')
div#intro-page
    div.top-panel
        h2(ng-show="page==1", translate="intro_what_i_need")
        h2(ng-show="page==2", translate="intro_head_2")
        h2(ng-show="page==3", translate="intro_head_3")
        h2(ng-show="page==4", translate="intro_head_4")
        h2(ng-show="page==5", translate="intro_head_5")
        h2(ng-show="page==6", translate="intro_head_6")
        h2(ng-show="page==7", translate="choice_your_jorney")
    div.content-cell#intro-content-cell
        div

            div.intro_item#intro_distances_place
                img(src="/assets/img/penguin/intro_distances_place.jpg")
            div(ng-show="page<8")#intro_text
                div(ng-show="page==1")
                    img(src="/assets/img/penguin/ic_golds.png").intro_resource_icon
                    span(translate="intro_you_need_resources")
                div(ng-show="page==2",translate="intro_text_2")
                div(ng-show="page==3",translate="intro_text_3")
                div(ng-show="page==4",translate="intro_text_4")
                div(ng-show="page==5",translate="intro_text_5")
                div(ng-show="page==6",translate="intro_text_6")
                div(ng-show="page==7",translate="choice_your_jorney_start_game")
            div.intro_item.intro_place_info#intro_place_info_2
            div.intro_item.intro_place_info#intro_place_info_3
            div.intro_item.intro_place_info#intro_place_info_4
            div.intro_item.intro_place_info#intro_place_info_5
            div.intro_item.intro_place_info#intro_place_info_6
            div(ng-show="page==7")#lang_table
                table.table.table-hover
                    tr(ng-repeat="lang in langs",ng-click="startGame(lang.lang)").jorney-line
                        td
                            div {{lang.translate}}
                        td
                            img(src="/assets/img/flags/flag_{{lang.lang}}.png")

                    -if(debugPenguin)
                        td
                            div {{lang.cities}}
                        td
                            div {{lang.questions}}




        div.bottom-panel#intro-bottom-panel.text-center
            div.btn-group-lg
                button(ng-click="showStagePrev();",translate="button_prev",ng-show="page>1").btn.btn-lg.btn-default prev {{pagePrev}}
                button(ng-click="showStageNext();",translate="button_next",ng-show="page<7").btn.btn-lg.btn-success
