div(ng-show="wordsLoading").loaidng
    div.loaidng-border
        img(src="/assets/img/loading64.gif")
        div(translate="please_wait").loaidng-span Loading please wait ...
        div(translate="loading_could_be_long").loaidng-i first load could be long
div.top-panel
    h2(translate="place_welcome",translate-values="{name:place.name}")
div.content-body
    div.text-center
        a(href="#/place/{{place.id}}/info").btn.btn-lg.btn-default.btn-place Info
        br
        a(href="#/wordstest/{{place.id}}").btn.btn-lg.btn-default.btn-place Test
        br
        button.btn.btn-lg.btn-default.btn-place Sentences
        br
        button.btn.btn-lg.btn-default.btn-place Quiz
        br
        button.btn.btn-lg.btn-default.btn-place Gallery
        br
        a(href="#/world").btn.btn-lg.btn-danger.btn-place Back