link(rel='stylesheet', href='/assets/css/penguin/train.css')
h2
    span {{testWord.word.w1}}
    span {{maxInList}}/{{current}}
div.train.last-list
    table.table
        tbody
            tr(ng-repeat="tw in lastList")
                td {{tw.word.w1}}
                td {{tw.word.w2}}
    div.text-center.bottom-panel
        div.btn-group
            button(ng-click="nextWord(1)",translate="btn_next_1").btn.btn-success
            button(ng-click="nextWord(3)",translate="btn_next_3").btn.btn-warning
            button(ng-click="nextWord(5)",translate="btn_next_5").btn.btn-warning
        button(ng-click="backToMap()",translate="btn_back_map").btn.btn-primary
