link(rel='stylesheet', href='/assets/css/penguin/wordtest.css')


div(ng-show="part==0").wordtest
    h2 welcome in {{place.name}}
    div#introduction {{place.info}}
    span(ng-click="visit()",translate="explore").btn.btn-primary#btn_explore Explore

div(ng-show="part==1").wordtest
    h2 game {{correct}} {{correctTotal}} {{wrong}} {{timer}}

    //canvas#conection-canvas

    div.row
        div.col-md-5
            div(ng-repeat="w in words.word1")
                span {{w.link}}
                span(id="testctn_0 _{{$index}}")
                    span(id="testbtn_0_{{$index}}",ng-click="select(0,w, $event)").btn.btn-default.btn-word {{w.word}}
        div.col-md-2

        div.col-md-5
            div(ng-repeat="w in words.word2")
                span(id="testctn_1_{{$index}}")
                    span(id="testbtn_1_{{$index}}",ng-click="select(1,w, $event)").btn.btn-default.btn-word {{w.word}}
                span {{w.link}}

div(ng-show="part==3").wordtest
    h2 Question
    p {{questionText}}
    div(ng-hide="user_answered")
        input(placeholder="please answer in your jorney language and whole sentence",ng-model="user_answer")
        span(ng-show="user_answer",ng-click="answer()").btn.btn-primary answer
    div(ng-show="user_answered")
        div(ng-show="user_answered==1")
            h3 Wrong answer
            p {{user_answer}}
            h3 possible answers
            p(ng-repeat="answer in questionAnswers") {{answer}}
        div(ng-show="user_answered==2")
            h3 Your answer was correct
            p {{user_answer}}
        div
            span(ng-click="conclusion()").btn.btn-primary conculsion

div(ng-show="part==4").wordtest
    h2 Score
    div walk: {{score.walk}}
    div swim: {{score.swim}}
    div fly: {{score.fly}}
    div exp: {{score.exp}}
    div
        span(ng-click="backToMap()").btn.btn-primary back to map