link(rel='stylesheet', href='/assets/css/penguin/wordtest.css')

div(ng-show="wordsLoading").loaidng
    div.loaidng-border
        img(src="/assets/img/loading64.gif")
        div(translate="please_wait").loaidng-span Loading please wait ...
        div(translate="loading_could_be_long").loaidng-i first load could be long

div(ng-show="part==0&&!wordsLoading").wordtest
    h2(translate="place_welcome",translate-values="{name:place.name}")
    div(translate="place_info_help").alert.alert-info
    div#introduction {{place.info}}

    div.text-center
        button(ng-click="visit()",translate="explore").btn.btn-primary#btn_explore Explore

div(ng-show="part==1&&!wordsLoading").wordtest
    h2 time left {{timer}}

    //canvas#conection-canvas

    div.row
        div.col-md-5
            div(ng-repeat="w in words.word1")
                span.hide {{w.link}}
                span(id="testctn_0 _{{$index}}")
                    span(id="testbtn_0_{{$index}}",ng-click="select(0,w, $event)").btn.btn-default.btn-word {{w.word}}
        div.col-md-2

        div.col-md-5
            div(ng-repeat="w in words.word2")
                span(id="testctn_1_{{$index}}")
                    span(id="testbtn_1_{{$index}}",ng-click="select(1,w, $event)").btn.btn-default.btn-word {{w.word}}
                span.hide {{w.link}}

div(ng-show="part==3&&!wordsLoading").wordtest
    h2(translate="place_question_title")
    h3 {{questionText}}
    div(ng-hide="user_answered").input-group
        input(ng-model="user_answer").form-control
        span(ng-hide="user_answer.length < 2").input-group-btn
            button(data-ng-disabled="user_answer.length < 2",ng-click="answer(false)",translate="btn_answer").btn.btn-primary
        span(ng-show="user_answer.length < 2").input-group-btn
            button(ng-click="answer(true)",translate="btn_skip").btn.btn-warning
    div(translate="place_question_help",ng-hide="user_answer").alert.alert-info
    div(ng-show="user_answered")
        div(ng-show="user_answered==1")
            p(translate="place_wrong_answer",translate-values="{answer:user_answer}").alert.alert-warning
            h3(translate="place_possible_answers")
            p(ng-repeat="answer in questionAnswers").alert.alert-info {{answer}}
        div(ng-show="user_answered==2").alert.alert-success
            p(translate="place_correct_answer",translate-values="{answer:user_answer}")
        div.center-text
            span(ng-click="conclusion()").btn.btn-primary conclusion

div(ng-show="part==4").wordtest-score
    h2(translate="title-score")

    div.separe-table
        table
            tr
                td {{correctTotal}} x
                td(translate="score_correct")
                td {{correctCoins}}
            tr
                td {{wrong}} x
                td(translate="score_wrong")
                td
    div.separe-table
        table
            //tr
            //    td
            //        img(src="/assets/img/penguin/ic_swim.png").intro_resource_icon
            //        i Math.round(correctInRow[5]/3 +  correctInRow[10]/2 +  correctInRow[15] +  correctInRow[30]*2.5 +  correctInRow[60]*5.5);
            //
            //    td
            //        b {{score.swim}}

            tr
                td {{correctInRowScore[0]}} x
                td(translate="score_correct_in_row",translate-values="{row:5}")
                td {{correctInRowCoins[0]}}
            tr
                td {{correctInRowScore[1]}} x
                td(translate="score_correct_in_row",translate-values="{row:10}")
                td {{correctInRowCoins[1]}}
            tr
                td {{correctInRowScore[2]}} x
                td(translate="score_correct_in_row",translate-values="{row:15}")
                td {{correctInRowCoins[2]}}
            tr
                td {{correctInRowScore[3]}} x
                td(translate="score_correct_in_row",translate-values="{row:30}")
                td {{correctInRowCoins[3]}}
            tr
                td {{correctInRowScore[4]}} x
                td(translate="score_correct_in_row",translate-values="{row:60}")
                td {{correctInRowCoins[4]}}
    div.separe-table
        table
            //tr
            //    td
            //        img(src="/assets/img/penguin/ic_fly.png").intro_resource_icon
            //        i (fastAnswer[1] + fastAnswer[2]/1.5 + fastAnswer[3]/2)
            //    td
            //        b {{score.fly}}
            tr
                td {{fastAnswerScore[0]}} x
                td(translate="score_correct_fast",translate-values="{time:1}")

                td {{fastAnswerCoins[0]}}
            tr
                td {{fastAnswerScore[1]}} x
                td(translate="score_correct_fast",translate-values="{time:2}")

                td {{fastAnswerCoins[1]}}
            tr
                td {{fastAnswerScore[2]}} x
                td(translate="score_correct_fast",translate-values="{time:3}")
                td {{fastAnswerCoins[2]}}
    div.separe-table
        table
            //tr
            //    td
            //        img(src="/assets/img/penguin/ic_exp.png").intro_resource_icon
            //    td
            //        b {{score.exp}}
            tr
                td
                td(translate="score_first_time_visited")
                //td {{first_time_visit}}
                td {{first_time_visit}}
            tr
                td
                td(translate="score_num_of_correct_answers")
                //td {{user_answered}}
                td {{user_answered}}
    table
        tr
            td
                img(src="/assets/img/penguin/ic_walk.png").intro_resource_icon
            td
            td
                b {{totalCoins}}
    div.bottom-panel
        div.text-center
            button(ng-click="backToMap()",translate="btn_back_map").btn.btn-primary
            button(ng-click="facebook()").btn.btn-xs.btn-primary
                img(src="/assets/img/penguin/facebook_like_icon_thumb.gif").like-xs
                span.like-text-xs score me