link(rel='stylesheet', href='/assets/css/penguin/wordtest.css')
// for gold resource
link(rel='stylesheet', href='/assets/css/levels/world.css')

div(ng-show="wordsLoading").loaidng
    div.loaidng-border
        img(src="/assets/img/loading64.gif")
        div(translate="please_wait").loaidng-span Loading please wait ...
        div(translate="loading_could_be_long").loaidng-i first load could be long




div(ng-show="part==0&&!wordsLoading").content-cell
    div.top-panel#wordtest-timer.text-center
        div(ng-hide="showResult")
            div(ng-show="timer")
                span(translate="bonus_coins",translate-values="{coins:5}")#voc-test-bonus Bonus +5 gold coins
                img(src="assets/img/penguin/ic_countdown.png")
                span#voc-test-timer {{timer}}
            span(ng-hide="timer",translate="bonus_coins",translate-values="{coins:1}").voc-test-bonus Bonus +1 gold coins
        div(ng-show="showResult")
            span.gold_resource#total_gold
                span {{score}}
                img(src="/assets/img/penguin/ic_golds.png")

        //h2(translate="place_welcome",translate-values="{name:place.name}")

    div#word-test.container-fluid
        div(ng-repeat="w in words.word1",id="word-row-{{$index}}",ng-drop="true",ng-drop-success="onDropSuccess($index,$data,$event)").row.words-row.words-drop-area
            div.col-md-6
                div.words {{w.word}}

            div.col-md-6
                div(ng-drag="true",ng-drag-data="words.user[$index]").words.words-for-drag
                    div(ng-hide="words.user[$index]",translate="voc-test-drop-here") drop here
                    div(ng-show="words.user[$index]") {{words.user[$index].word}}

    div(ng-hide="showResult")#words-selector
        div(ng-repeat="w in words.word2",ng-drag="true",ng-drag-data="w").btn-word {{w.word}}
    div.clearfix
    div(ng-show="showResult")
        div(translate="voc-test-still-have",translate-values="{repeats:repeats}").alert-info#info-repeats
        div.text-center#result_total_gold




    div.bottom-panel
        div.text-center
            div(ng-hide="showResult")
                div(translate="btn-check",ng-click="check()").btn.btn-primary Check and coins
            div(ng-show="showResult")
                div(ng-click="btnRepeat()",translate="btn-try-again").btn.btn-primary try again
                div(ng-click="btnBack()",translate="btn-back").btn.btn-default
                div(ng-click="facebook()").btn.btn-xs.btn-primary#score-fb_link
                    img(src="/assets/img/penguin/facebook_like_icon_thumb.gif").like-xs
                    span.like-text-xs score me


