#texts {
    background-color: blue;
}

#c1 {

}

#lineofwords {
    height: 100px;
    overflow-y: scroll;
}

.inner-words {
    cursor:pointer;
    text-align: center;
    float:left;
    margin:0px;
    padding:0px;
    font-size:16px;
}

.inner-words-selected, .inner-words-selected span {
    font-weight: bold;
    /*border-width: 5px;
    border-style: double;
    border-color: black;*/
    padding:0px;
}

.words-block-end {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: blue;
}

.connect-words {
    font-size:12px;
    font-style: italic;
}

#word-add-row{
    background-color: #add8e6;
}