.btn-image-delete {
    position:relative;

    margin-top:-170px;
    margin-left:0px;
}

.btn-image-primary {
    position:relative;

    margin-top:-170px;
    margin-left:-70px;
}

.image-place-preview {
    width:300px;
}

.image-frame{
    background-color:black;
    padding:10px;
}

#uploader {
    background-color:cadetblue;
    height:100px;
}