.btn-image-delete {
    position:relative;

    margin-top:-170px;
    margin-left:-30px;
}

.btn-image-primary {
    position:relative;

    margin-top:-170px;
    margin-left:-70px;
}

.image-place-preview {
    width:300px;
}

.image-place-preview-select {
    background-color: green;
}

.image-frame-padding {
    padding:10px;
    cursor: pointer;
}

.image-frame{
    background-color:black;

}

#uploader {
}