
#world-main{
   position: relative;
    /* background-image: url('/assets/img/pinguin/globe.png'); */
    width:100%;
    height:500px;
    overflow: hidden;
    background-color: red;
    /*background-size: 100%;*/
}


.place, .place_step_1 {
    position:absolute;

    color:white;
    font-size: 7px;
    font-weight: bold;
    padding:2px;
    border-width: 3px;
    border-style: solid;
    border-color: #101010;
    cursor:pointer;
    /*background-image: url('/assets/img/penguin/place_red.png');
    background-size: 100%;*/
}

.placesize1 {
    background-color:#ffd500;
    width:14px;
    height:14px;
    -moz-border-radius: 7px;
    -webkit-border-radius:7px;
    border-radius: 7px;
}

.placesize2 {
    background-color:orange;
    width:22px;
    height:22px;
    -moz-border-radius: 11px;
    -webkit-border-radius:11px;
    border-radius: 11px;
}

.placesize3 {
    background-color:orangered;
    width:30px;
    height:30px;
    -moz-border-radius: 15px;
    -webkit-border-radius:15px;
    border-radius: 15px;
}

.place_step_1 {
    width:32px;
    height:32px;
    -moz-border-radius: 16px;
    -webkit-border-radius:16px;
    border-radius: 16px;
    border-width: 4px;
}

.gold_resource {
    color:gold;

    background-color: black;
    border-color:black;
    -moz-border-radius: 3px;
    -webkit-border-radius:3px;
    border-radius: 3px;
    border-width: 2px;
    padding:0px 10px 0px 10px;

    opacity:0.9;
}

.gold_resource b {
    font-size : 10px;
}

#game_resources{
    position: absolute;
    top:100px;
    left:180px;
    color:gold;
    font-size: 24px;
    cursor:pointer;
    padding:0px;

}

#game_resources span {
    margin: 0px 0px 0px 10px;
    font-weight: bold;
}

#penguin,#penguin2 {
    position:absolute;
    width: 64px;
    cursor: pointer;
}

.resource_icon {
    margin-top:2px;
    margin-bottom:2px;
    width:28px;
}

.resource_gold_icon {
    margin:5px;
    width:30px;
}

.resource_gold_icon_small{
    margin:1px;
    width:14px;
}

#btn_place_visit {
    margin-top:5px;
    width:100%;
}
#place_popover_image{
}

.popover-title-with-resources {
    margin-right: 8px;
    font-weight: bolder;
}

.popover-title-resources-info {
    margin-left:4px;
    margin-right:5px;
    padding-top:2px;
    font-weight: bold;
}
.popover-title {
    margin-top:4px;
}

.popover-title-resources-info-left {
    position: absolute;
    right:11px;
    top:9px;
}

#score-bar-1 {
   position:relative;
    top:-80px;
    background-color: #000000;
    color:black;
    padding:4px;
    margin-left:20px;
    margin-right:20px;
    -moz-border-radius: 3px;
    -webkit-border-radius:3px;
    border-radius: 3px;
    border-width: 2px;
}

#score-bar-1 a span, #score-bar-1 a:visited span {
    font-weight: bold;
    color:white;
}



#score-bar-reduce-size{
    margin-top: 2px;
    margin-bottom: -18px;
}

.six-sec-ease-in-out {
    -webkit-transition: width 6s ease-in-out;
    -moz-transition: width 6s ease-in-out;
    -ms-transition: width 6s ease-in-out;
    -o-transition: width 6s ease-in-out;
    transition: width 6s ease-in-out;
}