#world-main{
    position:relative;
    background-image: url('/assets/img/pinguin/globe.png');
    width:1350px;
    height:675px;
    background-size: 100%;
}

.place {
    position:absolute;
    width:10px;
    height:10px;
    color:white;
    font-size: 7px;
    font-weight: bold;
    padding:2px;
    background-color:#000000;
}