#world-main{
    background-image: url('/assets/img/pinguin/globe.png');
    width:1350px;
    height:675px;
    background-size: 100%;
}

#uploader {
    background-color:dodgerblue;
    width:500px;
    height:100px;
}