#ahoj {
    margin:20px;
}

.wordrow{
    background-color: darkgray;
    clear:both;
    margin-bottom: 2px;
}

.wordrow div {

}

.desc {
    font-style: italic;

}

.identifer span {
    padding-top : 10px;
    padding-bottom : 10px;
}

.identifer {
    float: left;
    padding-top:25px;
}
.wordcontainer {
    float: left;
    padding:5px;
    width:450px;
}
.wordspaner{
    color: darkred;
    margin-right : 10px;
}

.wordspaner {
    margin-left: 10px;

    font-size: smaller;
}
.word {
    font-size: larger;
    font-weight: bolder;
}

.imgpreview,.identifer{
    height:70px;
    margin:5px;
}



#helpers {
    position:fixed;
    left: 550px;
    top: 10px;
    width:800px;
    height:800px;
}

#helpers div,  .helpers_i {
    width:800px;
    height:300px;

}

#helpers div {
    overflow: hidden;
}

.helpers_i {
    position:relative;
    top:-40px;
}