#ahoj {
    margin:20px;
}

.wordrow{
    background-color: darkgray;
    clear:both;
    margin-bottom: 2px;
}

.wordrow div {

}

.desc {
    font-style: italic;

}

.identifer span {
    padding-top : 10px;
    padding-bottom : 10px;
}

.identifer {
    float: left;
    padding-top:25px;
}
.wordcontainer {
    float: left;
    padding:5px;
    width:350px;
}
.wordspaner{
    color: darkred;
    margin-right : 10px;
}

.wordspaner {
    margin-left: 10px;

    font-size: smaller;
}
.word {
    font-size: larger;
    font-weight: bolder;
}

.imgpreview,.identifer{
    height:70px;
    margin:5px;
}

