#ahoj {
    margin:20px;
}

.row{
    background-color: darkgray;
    clear:both;
    margin-bottom: 1px;
}

.row div {

}

.desc {
    font-style: italic;

}
.wordcontainer {
    float: left;

}
.wordspaner2 {
    color: darkred;
    margin-left: 10px;
    margin-right : 10px;
    font-size: smaller;
}
.word {
    font-size: larger;
    font-weight: bolder;
}