link(rel='stylesheet', href='/assets/css/levels/info.css')
script(src="/assets/js/libs/jquery.appear.js")

h2 info {{info.pi}}
    span(ng-repeat="lang in langs")
        a(ng-click="changeLang(lang.lang)") {{lang.lang}}
        span |




div.container-fluid
    div.row
        div.col-lg-6
            input(ng-model="info.translates[current].name",size="50",maxlength="70")
            textarea(ng-change="infoChange(current)",ng-model="info.translates[current].info",rows="5",cols="170")
        div.col-lg-6
            div#texts
div#lineofwords

div.clearfix
div.input-group
    form(ng-submit="alert('ahoj')")
        button(ng-click="checkSelectedWord()").btn.input search word
        input(ng-model="selectedWord.simple").input
        input(type="checkbox",name="search-lang-choice",checked,data-label-text="from",ng-model="searchWordLang").input
        input(type="checkbox",name="search-lang2-choice",checked,data-label-text="to",ng-model="searchWordLang").input
        a(href="//www.slovnik.seznam.cz/{{current}}-cz/word/?q={{selectedWord.simple}}",target="slovnik_seznam").btn.btn-default.input CZ to {{current}}
        a(href="//www.slovnik.seznam.cz/cz-{{current}}/word/?q={{selectedWord.simple}}",target="slovnik_seznam").btn.btn-default.input {{current}} to CZ
table.table.table-responsive

    tr(ng-repeat="poss in selectedWord.possible", ng-click="selectWordPossibility(selectedWord,poss)")
        td # {{poss.lid}}
        td
             span {{poss.desc}}
             br
             i {{poss.english}}
        td
            // if you search the current translatio is in word2
            // if you get links is in word
            span {{poss.word2}}
            button(ng-click="editPossibility(poss)").btn.btn-sm.btn-success edit
        td
            span.badge {{poss.usage}}
    tr(ng-click="selectWordPossibility(selectedWord,null)")
        td # 1
        td [remove]
        td

    tr#word-add-row
        td
            button(ng-click="addWord()").btn.btn-warning add word
        td
            div.input-group
                input(ng-model="selectedWord.english").input
                span en


        td
            div.input-group
                input(ng-model="selectedWord.simple").input
                // in english version it will add word in czech
                span(ng-show="current=='en'") cz
                span(ng-show="current!='en'") {{current}}


div.clearfix

div.input-group
    select(ng-model="info.type", ng-options="c.pit as c.name for c in types",required).input
    button(ng-click="check()").btn.btn-primary.input check
    button(ng-click="update()").btn.btn-primary.input update