link(rel='stylesheet', href='/assets/css/levels/info.css')
script(src="/assets/js/libs/jquery.appear.js")

h2 info {{info.pi}}
    span(ng-repeat="lang in langs")
        a(ng-click="changeLang(lang.lang)") {{lang.lang}}
        span |




div.container-fluid
    div.row
        div.col-lg-6
            input(ng-model="info.translates[current].name",size="50",maxlength="70")
            textarea(ng-change="infoChange(current)",ng-model="info.translates[current].info",rows="15",cols="170")
        div.col-lg-6
            div#texts
div#lineofwords

div.clearfix
table.table.table-responsive
    tr
        td
        td
            div.input-group
                input(ng-model="selectedWord.simple").input
                button(ng-click="checkSelectedWord('en')").input check:en
        td
            div.input-group
                input(ng-model="selectedWord.simple").input
                button(ng-click="checkSelectedWord(current)").input check:{{current}}


    tr(ng-repeat="poss in selectedWord.possible", ng-click="selectWordPossibility(selectedWord,poss)")
        td # {{poss.lid}}
        td
             span {{poss.desc}}
             br
             i {{poss.english}}
        td
            span(ng-hide="poss.word2") {{poss.word}}
            span(ng-show="poss.word2") {{poss.word2}}
    tr(ng-click="selectWordPossibility(selectedWord,null)")
        td # 1
        td [remove]
        td

div.clearfix

div.input-group
    select(ng-model="info.type", ng-options="c.pit as c.name for c in types",required).input
    button(ng-click="check()").btn.btn-primary.input check
    button(ng-click="update()").btn.btn-primary.input update