
h2 info {{info.pi}}
    span(ng-repeat="lang in langs")
        a(ng-click="changeLang(lang.lang)") {{lang.lang}}
        span |


input(ng-model="info.translates[current].name",size="50",maxlength="70")
br
textarea(ng-model="info.translates[current].info",rows="10",cols="150")

div.input-group
    select(ng-model="info.type", ng-options="c.pit as c.name for c in types",required).input
    button(ng-click="update()").btn.btn-primary.input update