link(rel='stylesheet', href='/assets/css/levels/info.css')
script(src="/assets/js/libs/jquery.appear.js")

div # {{info.pi}} {{info.translates[current].name}}
    span(ng-repeat="lang in langs")
        a(ng-click="changeLang(lang.lang)") {{lang.lang}}
        span |




div.container-fluid
    div.row
        div.col-lg-12
            div.input-group
                input(ng-model="info.translates[current].name",size="50",maxlength="70").input
                button(ng-click="showEditText()").btn.btn-default.input show or hide text
    div.row
        div(ng-show="show_edit_text").col-lg-5
            textarea(ng-change="infoChange(current)",ng-model="info.translates[current].info",rows="15",cols="180")

div#lineofwords

div.clearfix
div.input-group
    form(ng-submit="alert('ahoj')")
        button(ng-click="checkSelectedWord()").btn.input search word
        input(ng-model="selectedWord.simple").input
        input(type="checkbox",name="search-lang-choice",checked,data-label-text="from",ng-model="searchWordLang").input
        input(type="checkbox",name="search-lang2-choice",checked,data-label-text="to",ng-model="searchWordLang").input
        a(href="//www.slovnik.seznam.cz/{{current}}-cz/word/?q={{selectedWord.simple}}",target="slovnik_seznam").btn.btn-default.input CZ to {{current}}
        a(href="//www.slovnik.seznam.cz/cz-{{current}}/word/?q={{selectedWord.simple}}",target="slovnik_seznam").btn.btn-default.input {{current}} to CZ

div.container-fluid
    div.row
        div.col-md-6
            table#search-words-table.table.table-responsive

                tr(ng-repeat="poss in selectedWord.possible", ng-click="selectWordPossibility(selectedWord,poss, true)")
                    td # {{poss.lid}}
                    td
                         span {{poss.desc}}
                         span.badge {{poss.usage}}
                         br
                         i {{poss.english}}
                    td
                    td
                        // if you search the current translatio is in word2
                        // if you get links is in word
                        span {{poss.word2}}
                        button(ng-click="editPossibility(poss)").btn.btn-xs.btn-success edit
                        button(ng-click="clickUnlinkWordPossibility(selectedWord, poss)",ng-show="poss.selected").btn.btn-xs.btn-danger unlink

                tr#word-add-row
                    td
                        button(ng-click="clickAddWord()").btn.btn-warning add word
                    td
                        div.input-group
                            input(ng-model="selectedWord.english").input
                            span(ng-show="current=='en'") cz
                            span(ng-show="current!='en'") en

                    td
                        button(ng-click="clickSwitchInputs()").btn.btn-xs.btn-default <- ->
                    td
                        div.input-group
                            input(ng-model="selectedWord.simple").input
                            // in english version it will add word in czech
                            span {{current}}


        div.col-md-6
            table.table.table-responsive
                tr
                    td
                        div
                            span {{selectedWord.sentence}}
                        div
                            span ... english version missing ...
                    td
                        button(ng-hide="sen.l || !selectedWord.link",ng-click="sentenceCreate(selectedWord.sentence, selectedWord.link)").btn.btn-default add
                tr(ng-repeat="sen in selectedWord.sentences")
                    td
                        div
                            span {{sen.s}}
                            span(ng-hide="sen.s") ... {{current}} language version missing ...

                        div
                            span {{sen.e}}
                            span(ng-hide="sen.e") ... english version missing ...
                    td
                        button(ng-show="sen.l",ng-click="sentenceEdit(sen, selectedWord.link)").btn.btn-xs.btn-default edit
                        button(ng-show="sen.l && sen.linked",ng-click="clickSentenceUnlink(sen, selectedWord.link)").btn.btn-xs.btn-default unlink
div.clearfix

div.input-group
    select(ng-model="info.type", ng-options="c.pit as c.name for c in types",required).input
    button(ng-click="check()").btn.btn-primary.input check
    button(ng-click="update()").btn.btn-primary.input update