link(rel='stylesheet', href='/assets/css/levels/world.css')
div#uploader
div.row
    div(ng-repeat="image in images").image-frame.col-md-3
        img(src="/assets/img/orig/{{image.image}}").image-place-preview
        button(ng-click="onDeleteImage(image, $index)").btn.btn-danger.btn-image-delete x


div.clear


div spot
    p positions x and y
    input(ng-model="posx")
    input(ng-model="posy")

    p english name of place/spot
    input(ng-model="name",size="50",maxlength="70")

    p travel information about place/spot
    textarea(ng-model="info",rows="5",cols="150")

    span(ng-click="update()").btn.btn-danger update

    hr
    div(ng-repeat="question in questions")#questions
        input(ng-model="question.question")
        input(ng-model="question.answers")
        button(ng-click="qUpdate(question)").btn.btn-danger update
        button(ng-click="qDelete(question, $index)").btn.btn-danger delete

    p add questions
    input(ng-model="add_question")
    input(ng-model="add_answers")
    button(ng-click="qAdd()").btn.btn-primary add


    div
        img#canvasHelper
        canvas(width="128",height="128")#myCanvas