link(rel='stylesheet', href='/assets/css/levels/world.css')
div#uploader
    p positions x and y
    input(ng-model="posx")
    input(ng-model="posy")
    select(ng-change="changePlaceInfo()",ng-changed="changePlaceInfo()",ng-model="place_info", ng-options="c.pi as c.text for c in infos",required).input
    a(href="#/info/{{place_info}}") edit place info
    div
        p english name of place/spot
        input(ng-model="name",size="50",maxlength="70")

        p travel information about place/spot
        textarea(ng-model="info",rows="5",cols="150")

        span(ng-click="update()").btn.btn-warning update text
        span(ng-click="deleteInfo()").btn.btn-danger remove text

        div.hide
            hr
            div(ng-repeat="question in questions").input-group#questions
                input(ng-model="question.question").input-sm
                input(ng-model="question.answers").input-sm
                select(ng-model="question.type").input-sm
                    //option(value="0") Translate from learn
                    option(value="0") Translate from native
                    option(value="1") Create questoin based on answer
                    option(value="2") Do answer in learn


                button(ng-click="qUpdate(question)").btn.btn-danger update
                button(ng-click="qDelete(question, $index)").btn.btn-danger delete

            p add questions
            input(ng-model="add_question").input-sm
            input(ng-model="add_answers").input-sm
            select(ng-model="add_question_type").input-sm
                option(value="0",selected="selected") Translate from native
                option(value="1") Create questoin based on answer
                option(value="2") Do answer in learn
            button(ng-click="qAdd()").btn.btn-primary add


        div
            img#canvasHelper
            canvas(width="128",height="128")#myCanvas


    div.row
        div(ng-repeat="image in images",ng-click="onPrimaryImage(image, $index)").image-frame.col-md-3
            div(ng-class="{'image-place-preview-select': preview_iid==image.iid}").image-frame-padding
                img(src="/assets/img/orig/{{image.image}}" ).image-place-preview
                button(ng-click="onDeleteImage(image, $index)").btn.btn-danger.btn-image-delete x
    div.clear
    button(ng-click="delete()").btn.btn-danger !DELETE!