link(rel='stylesheet', href='/assets/css/levels/world.css')

div spot
    p english name of place/spot
    input(ng-model="name")
    p positions x and y
    input(ng-model="posx")
    input(ng-model="posy")
